
@{
    ViewData["Title"] = "MyAnswers";
   var f = 0;
}
<h1 class="text-center">My Answers</h1>
<hr />

@{
    @foreach (var item in ViewBag.mAQ)
    {
        if (f == item.qID) continue;
        f = @item.qID;
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 border border-primary p-3">
                <h5>@item.qBy</h5>
                <p class="text-secondary">@item.qDate</p>
                <p>@item.ques</p>
                <hr class="text-primary" />
       
            @foreach (var itemm in ViewBag.mA)
            {
                if (item.qID==itemm.aFor)
                {
                    <div class="row border border-success p-3 rounded-3 m-3">
                        <div class="col-md-12">
                            <h7 class="fw-bold">@itemm.aBy</h7>
                            <p>@itemm.ans</p>
                            <p class="text-secondary mb-0" style="font-size:small; text-align:end;">@itemm.aDate</p>
                        </div>
                    </div>
                        @foreach (var itemmm in ViewBag.mR)
                        {
                            @if (itemm.aID == itemmm.rFor)
                            {
                                <div class="row border border-success p-3 rounded-3" style="margin-left:7rem;margin-top:1rem;margin-bottom:1rem;margin-right:1rem;">
                                    <div class="col-md-12">
                                        <h7 class="fw-bold">@itemmm.rBy</h7>
                                        <p>@itemmm.rep</p>
                                        <p class="text-secondary mb-0" style="font-size:small; text-align:end;">@itemmm.rDate</p>
                                    </div>
                                </div>
                            }

                        }
                }
                   
               
            }


        </div>
        <div class="col-md-3"></div>
    </div>
   <br />
}
}
